---
import { YEAR, AUTHOR, URL_BASE, PROJECT_URL } from "@scripts/constants";

interface Props {
    sourceFile?: string;
}

const { sourceFile } = Astro.props;
---

<footer>
    <div class="footer">
        <div class="copyright">
            {
                sourceFile && (
                    <p>
                        View today's solution{" "}
                        <a
                            href={sourceFile}
                            target="_blank"
                            title="Solution source"
                        >
                            source
                        </a>
                    </p>
                )
            }
            <p>&copy; {YEAR} {AUTHOR}</p>
        </div>
        <div class="github-logo">
            <a href={PROJECT_URL} target="_blank" title="Project source">
                <img src=`/${URL_BASE}/github-mark.svg` alt="" />
            </a>
        </div>
    </div>
</footer>

<style>
    footer {
        font-size: 15px;
        margin-top: auto;
        width: 100%;
        padding-bottom: 20px;
        text-align: center;
    }
    .footer {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .github-logo {
        width: 28px;
        margin-left: 10px;
    }
</style>
