---
const moonPath =
    "M480-120q-150 0-255-105T120-480q0-150 105-255t255-105q14 0 27.5 1t26.5 3q-41 29-65.5 75.5T444-660q0 90 63 153t153 63q55 0 101-24.5t75-65.5q2 13 3 26.5t1 27.5q0 150-105 255T480-120Z";
const sunPath =
    "M480-280q-83 0-141.5-58.5T280-480q0-83 58.5-141.5T480-680q83 0 141.5 58.5T680-480q0 83-58.5 141.5T480-280ZM200-440H40v-80h160v80Zm720 0H760v-80h160v80ZM440-760v-160h80v160h-80Zm0 720v-160h80v160h-80ZM256-650l-101-97 57-59 96 100-52 56Zm492 496-97-101 53-55 101 97-57 59Zm-98-550 97-101 59 57-100 96-56-52ZM154-212l101-97 55 53-97 101-59-57Z";
const height = "20px";
const fill = "#e3e3e3";
---

<div class="toggle" id="theme-toggle">
    <div class="slider">
        <svg
            class="sun"
            xmlns="http://www.w3.org/2000/svg"
            height={height}
            viewBox="0 -960 960 960"
            width={height}
            fill={fill}><path d={moonPath}></path></svg
        >
        <svg
            class="moon"
            xmlns="http://www.w3.org/2000/svg"
            height={height}
            viewBox="0 -960 960 960"
            width={height}
            fill={fill}><path d={sunPath}></path></svg
        >
    </div>
</div>

<script>
    document.getElementById("theme-toggle")?.addEventListener("click", () => {
        const html = document.querySelector("html");
        const isdarkMode = localStorage.getItem("lightMode");
        if (isdarkMode === "true") {
            localStorage.removeItem("lightMode");
            html?.classList.add("dark-mode");
            html?.classList.remove("light-mode");
        } else {
            localStorage.setItem("lightMode", "true");
            html?.classList.add("light-mode");
            html?.classList.remove("dark-mode");
        }
    });
</script>

<style>
    :root {
        --dark-toggle: 34%;
    }
    html.dark-mode .toggle {
        --pos-left: var(--dark-toggle);
    }
    html.light-mode .toggle {
        --pos-left: calc(100% - var(--dark-toggle));
    }
    .toggle {
        position: relative;
        width: 50px;
        height: 30px;
        border-radius: 25px;
        outline: none;
        cursor: pointer;
        background-color: var(--toggle-bg);
    }
    .slider {
        --size: 25px;
        position: absolute;
        top: 50%;
        left: var(--pos-left);
        transform: translate(-50%, -50%);
        border-radius: 50%;
        height: var(--size);
        width: var(--size);
        background-color: var(--toggle-slider-bg);
    }
    .slider {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    html.dark-mode svg.sun {
        display: none;
    }
    html.light-mode svg.moon {
        display: none;
    }
</style>
